
.sub-menu, #footer {
	background-color: rgb(240,163,10);
}
p.hoverList:hover {
	cursor: help;
	position: relative;
}
p.hoverList span {
	display: none;
	color: white;
}
p.hoverList:hover span {
	display: block;
	z-index: 100;
	background-color: rgb(240,163,10);
	position: absolute;
	text-decoration: none;
	padding: 2px;
	
}

.sub-content a:hover, .sub-content a:active, p.hoverList:hover {
	color: rgb(240,163,10);
}

.javascript {
	background-color: rgb(240,163,10);
}